# Python settings folders and files
python_env/
*__pycache__*

# VSCode settings
.vscode/

# Documentation folder
documentation/

# Images to debug and tests
files/*.jpg
*/dataset_*/*/*.jpg
data/app.log
*.yml